:root {
    --primary: #996699;
    --primary-hover: #d6a8d6;
    --second: #BE52F2;
    --second-hover: #DBA5F5;
    --success: #6666FF;
    --success-hover:  #abc5f9;
    --info: #0084F4;
    --info-hover: #66B5F8;
    --warning: #FFA26B;
    --warning-hover: #FFC7A6;
    --danger: #FF647C;
    --danger-hover: #FDAFBB;
  }

* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    margin: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &_block {
        display: block;
    }
  }